{% extends 'core/base.html' %}
{% load static %}
{% block title %} About {% endblock %} 

{% block content %}
<h1>About</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            {% if about.profile_image and "placeholder" in about.profile_image.url %}
                <img src="{% static 'images/truth.jpg' %}" width="75%" alt="Default profile placeholder">
            {% else %}
                <img src="{{ about.profile_image.url }}" width="75%" alt="{{ about.title }}'s profile image">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
